@model Enfermo

<h1>Detalles del Enfermo</h1>

<p>
    <a asp-controller="Enfermos" asp-action="Index" class="btn btn-primary">
        Volver a la Lista
    </a>
</p>

<ul class="list-group">

    <li class="list-group-item"><strong>Inscripcion:</strong> @Model.Inscripcion</li>
    <li class="list-group-item"><strong>Apellido:</strong> @Model.Apellido</li>
    <li class="list-group-item"><strong>Dirección:</strong> @Model.Direccion</li>
    <li class="list-group-item"><strong>Fecha Nacimiento:</strong> @Model.FechaNacimiento</li>
    <li class="list-group-item"><strong>Sexo:</strong> @Model.Sexo</li>
</ul>